In [ ]:
Nombre: Adrián Oter Astillero

![Diagrama E/R](ER_final.jpg)

Esto hay que incluirlo en el diagrama ER (se me olvidó).

![Diagrama E/R](partidos.jpg)

In [1]:
%load_ext sql
%sql sqlite:///prueba1.db

/usr/local/lib/python3.5/dist-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/usr/local/lib/python3.5/dist-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

'Connected: None@prueba1.db'

Tabla de Comunidades Autónomas

In [2]:
%%sql
PRAGMA foreign_keys = ON;

Done.

[]

In [48]:
%%sql
# DROP TABLE CCAA;

Done.

[]

In [49]:
%%sql
CREATE TABLE CCAA(
nombre varchar(100),
PRIMARY KEY(nombre));

Done.

[]

In [50]:
%%sql
INSERT INTO CCAA(Nombre)
Values('C.A Madrid');

INSERT INTO CCAA(Nombre)
Values('Barcelona');

INSERT INTO CCAA(Nombre)
Values('C.A Valenciana');

1 rows affected.
1 rows affected.
1 rows affected.

[]

In [51]:
%%sql
SELECT * from CCAA;

Done.

[('C.A Madrid',), ('Barcelona',), ('C.A Valenciana',)]

Tabla de Ciudades. Le pongo un id porque puede haber varias ciudades con el mismo nombre,
para poder tener una PRIMARY KEY. También, para ahorrarme una tabla, le añado el nombre de 
la Comunidad Autónoma, que es FOREIGN KEY de la tabla de CCAA.

In [65]:
%%sql
DROP TABLE Ciudades;

Done.

[]

In [66]:
%%sql
CREATE TABLE Ciudades(
cid int,
nombre varchar(100),
ccaa varchar(100) NOT NULL,
PRIMARY KEY(cid),
UNIQUE(nombre,ccaa),
FOREIGN KEY(ccaa) REFERENCES CCAA(nombre)
);

Done.

[]

In [67]:
%%sql
INSERT INTO Ciudades(cid,Nombre,ccaa)
Values(1,'Madrid', 'C.A Madrid');

INSERT INTO Ciudades(cid,Nombre,ccaa)
Values(2,'Fuenlabrada', 'C.A Madrid');

INSERT INTO Ciudades(cid,Nombre,ccaa)
Values(3,'Barcelona', 'Barcelona');

INSERT INTO Ciudades(cid,Nombre,ccaa)
Values(4,'Alicante', 'C.A Valenciana');

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [3]:
%%sql
SELECT * from Ciudades;

Done.

[(1, 'Madrid', 'C.A Madrid'),
 (2, 'Fuenlabrada', 'C.A Madrid'),
 (3, 'Barcelona', 'Barcelona'),
 (4, 'Alicante', 'C.A Valenciana')]

Tabla de Equipos. Le he puesto un id como en ciudades por la misma razon; puede haber varios equipos con el mismo
nombre, y asi tengo una PRIMARY KEY. E igual que antes, la añado la ciudad a la que pertenece cada equipo
como FOREIGN KEY.

In [80]:
%%sql
DROP TABLE Equipos;

Done.

[]

In [83]:
%%sql
CREATE TABLE Equipos(
eid INT,
nombre VARCHAR(100),
cid INT NOT NULL,
PRIMARY KEY(eid),
FOREIGN KEY(cid) REFERENCES Ciudades(cid)
);

Done.

[]

In [85]:
%%sql
INSERT INTO Equipos(eid,nombre,cid)
Values(1, 'Real Madrid', 1);

INSERT INTO Equipos(eid,nombre,cid)
Values(2, 'Fuenlabrada', 2);

INSERT INTO Equipos(eid,nombre,cid)
Values(3, 'F.C Barcelona', 3);

INSERT INTO Equipos(eid,nombre,cid)
Values(4, 'Valencia Basket', 4);

INSERT INTO Equipos(eid,nombre,cid)
Values(5, 'DKV Joventud', 3);

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Para saber la ciudad a la que pertenece cada equipo hay que hacer un JOIN

In [89]:
%%sql
SELECT
Ciudades.nombre AS 'Ciudad',
Equipos.nombre AS 'Equipo'
FROM Equipos
JOIN Ciudades
ON Ciudades.cid = Equipos.cid;

Done.

[('Madrid', 'Real Madrid'),
 ('Fuenlabrada', 'Fuenlabrada'),
 ('Barcelona', 'F.C Barcelona'),
 ('Alicante', 'Valencia Basket'),
 ('Barcelona', 'DKV Joventud')]

Tablas de Campeonatos. Le pongo un id para tener una PRIMARY KEY

In [18]:
%%sql
DROP TABLE Temporadas;

(sqlite3.OperationalError) no such table: Temporadas [SQL: 'DROP TABLE Temporadas;']

In [19]:
%%sql
CREATE TABLE Temporadas(
cid INT,
cif_empresa VARCHAR(20),
f_ini DATETIME,
f_fin DATETIME,
PRIMARY KEY(cid),
FOREIGN KEY(cif_empresa) REFERENCES Empresas(cif)
);

Done.

[]

In [20]:
%%sql

INSERT INTO Temporadas(cid, f_ini,f_fin,cif_empresa)
Values(1, '2015-09-15', '2016-04-16', '5555E');

INSERT INTO Temporadas(cid, f_ini,f_fin,cif_empresa)
Values(2, '2016-09-22', '2016-05-2', '5555E');

1 rows affected.
1 rows affected.

[]

Tabla de las empresas que patrocinan los campeonatos y a los equipos

In [8]:
%%sql
DROP TABLE Empresas;

Done.

[]

In [9]:
%%sql

CREATE TABLE Empresas(
cif VARCHAR(20),
nombre VARCHAR(100),
PRIMARY KEY(cif)
);

Done.

[]

In [14]:
%%sql
INSERT INTO Empresas(cif,nombre)
Values('1111E', 'BBVA');

INSERT INTO Empresas(cif,nombre)
Values('2222E', 'MMT');

INSERT INTO Empresas(cif,nombre)
Values('3333E', 'DKV');

INSERT INTO Empresas(cif,nombre)
Values('4444E', 'LASSA');

INSERT INTO Empresas(cif,nombre)
Values('5555E', 'Endesa');

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Tabla de las empresas que patrocinan a los equipos

In [22]:
%%sql
CREATE TABLE Empresa_Equipo(
cif VARCHAR(20),
eid INT,
PRIMARY KEY(cif,eid),
FOREIGN KEY(cif) REFERENCES Empresas(cif),
FOREIGN KEY(eid) REFERENCES Equipos(eid)
);

Done.

[]

In [24]:
%%sql
INSERT INTO Empresa_Equipo(cif,eid)
Values('2222E', 1);

INSERT INTO Empresa_Equipo(cif,eid)
Values('4444E', 3);

INSERT INTO Empresa_Equipo(cif,eid)
Values('3333E', 5);

1 rows affected.
1 rows affected.
1 rows affected.

[]

Tabla de las Personas. He Hecho una relacion IS-A, Y voy a hacer una tabla tanto para la entidad base como para
las entidades derivadas.

In [34]:
%%sql
CREATE TABLE Personas(
nif varchar(20),
nombre varchar(20),
apellidos varchar(50),
fecha_nac DATETIME,
PRIMARY KEY(nif));

Done.

[]

In [7]:
%%sql
INSERT INTO Personas(nif,nombre,apellidos,fecha_nac)
Values('1111E', 'adrian', 'oter', '1994-03-21');

INSERT INTO Personas(nif,nombre,apellidos,fecha_nac)
Values('2222E', 'cris', 'nieto', '1994-02-04');

INSERT INTO Personas(nif,nombre,apellidos,fecha_nac)
Values('3333E', 'fer', 'rioja', '1994-06-14');

1 rows affected.
1 rows affected.
1 rows affected.

[]

In [8]:
%%sql
INSERT INTO Personas(nif,nombre,apellidos,fecha_nac)
Values('1111J', 'fran', 'vazquez', '1980-03-21');

INSERT INTO Personas(nif,nombre,apellidos,fecha_nac)
Values('2222J', 'juan carlos', 'navarro', '1978-02-04');

INSERT INTO Personas(nif,nombre,apellidos,fecha_nac)
Values('3333J', 'roberto', 'dueñas', '1975-06-14');

INSERT INTO Personas(nif,nombre,apellidos,fecha_nac)
Values('4444J', 'victor', 'claver', '1985-06-14');

INSERT INTO Personas(nif,nombre,apellidos,fecha_nac)
Values('5555J', 'alex', 'abrines', '1993-05-18');

INSERT INTO Personas(nif,nombre,apellidos,fecha_nac)
Values('6666J', 'sergio', 'llull', '1984-07-01');

INSERT INTO Personas(nif,nombre,apellidos,fecha_nac)
Values('7777J', 'rudy', 'fernandez', '1982-06-17');

INSERT INTO Personas(nif,nombre,apellidos,fecha_nac)
Values('8888J', 'louis', 'bullock', '1973-01-24');

INSERT INTO Personas(nif,nombre,apellidos,fecha_nac)
Values('9999J', 'felipe', 'reyes', '1979-01-11');

INSERT INTO Personas(nif,nombre,apellidos,fecha_nac)
Values('0000J', 'gustavo', 'ayon', '1972-02-03');

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [10]:
%%sql
SELECT * from Personas;

Done.

[('1111E', 'adrian', 'oter', '1994-03-21'),
 ('2222E', 'cris', 'nieto', '1994-02-04'),
 ('3333E', 'fer', 'rioja', '1994-06-14'),
 ('1111J', 'fran', 'vazquez', '1980-03-21'),
 ('2222J', 'juan carlos', 'navarro', '1978-02-04'),
 ('3333J', 'roberto', 'dueñas', '1975-06-14'),
 ('4444J', 'victor', 'claver', '1985-06-14'),
 ('5555J', 'alex', 'abrines', '1993-05-18'),
 ('6666J', 'sergio', 'llull', '1984-07-01'),
 ('7777J', 'rudy', 'fernandez', '1982-06-17'),
 ('8888J', 'louis', 'bullock', '1973-01-24'),
 ('9999J', 'felipe', 'reyes', '1979-01-11'),
 ('0000J', 'gustavo', 'ayon', '1972-02-03')]

Tabla de entrenadores.

In [37]:
%%sql
# DROP TABLE Entrenadores;

Done.

[]

In [38]:
%%sql
CREATE TABLE Entrenadores(
nif VARCHAR(20),
PRIMARY KEY(nif),
FOREIGN KEY(nif) REFERENCES Personas(nif)
                        ON DELETE CASCADE);

Done.

[]

In [39]:
%%sql
INSERT INTO Entrenadores(nif)
Values('1111E');

INSERT INTO Entrenadores(nif)
Values('2222E');

INSERT INTO Entrenadores(nif)
Values('3333E');

1 rows affected.
1 rows affected.
1 rows affected.

[]

In [16]:
%%sql
SELECT * from Entrenadores;

Done.

[('1111E',), ('2222E',), ('3333E',)]

Tabla de jugadores. De la misma manera que antes, para conocer los datos de un entrenador o jugador,
tengo que hacer un join entre Personas y Jugadores/Entrenadores.

In [42]:
%%sql
# DROP TABLE Jugadores;

Done.

[]

In [18]:
%%sql
CREATE TABLE Jugadores(
nif VARCHAR(20),
estatura int,
PRIMARY KEY(nif),
FOREIGN KEY(nif) REFERENCES Personas(nif)
                        ON DELETE CASCADE);

Done.

[]

In [19]:
%%sql

INSERT INTO Jugadores(nif,estatura)
Values('1111J', 2.08);

INSERT INTO Jugadores(nif,estatura)
Values('2222J', 1.90);

INSERT INTO Jugadores(nif,estatura)
Values('3333J', 2.12);

INSERT INTO Jugadores(nif,estatura)
Values('4444J', 2.02);

INSERT INTO Jugadores(nif,estatura)
Values('5555J', 1.89);

INSERT INTO Jugadores(nif,estatura)
Values('6666J', 1.93);

INSERT INTO Jugadores(nif,estatura)
Values('7777J', 1.97);

INSERT INTO Jugadores(nif,estatura)
Values('8888J', 1.88);

INSERT INTO Jugadores(nif,estatura)
Values('9999J', 2.07);

INSERT INTO Jugadores(nif,estatura)
Values('0000J', 2.10);

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [21]:
%%sql
SELECT * from Jugadores;

Done.

[('1111J', 2.08),
 ('2222J', 1.9),
 ('3333J', 2.12),
 ('4444J', 2.02),
 ('5555J', 1.89),
 ('6666J', 1.93),
 ('7777J', 1.97),
 ('8888J', 1.88),
 ('9999J', 2.07),
 ('0000J', 2.1)]

Tabla de las Canchas. Como cada direccion tiene varios campos, haré otra entidad(tabla) para direcciones.

In [91]:
%%sql
CREATE TABLE Canchas(
nombre VARCHAR(100),
PRIMARY KEY(nombre)
);

Done.

[]

In [92]:
%%sql
INSERT INTO Canchas(nombre)
Values('Caja Mágica');

INSERT INTO Canchas(nombre)
Values('Palacio de Vistalegre');

INSERT INTO Canchas(nombre)
Values('Palau Blaugrana');

INSERT INTO Canchas(nombre)
Values('Pabellón Olímpico de Badalona');

INSERT INTO Canchas(nombre)
Values('La Fonteta');

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [94]:
%%sql
SELECT * FROM Canchas;

Done.

[('Caja Mágica',),
 ('Palacio de Vistalegre',),
 ('Palau Blaugrana',),
 ('Pabellón Olímpico de Badalona',),
 ('La Fonteta',)]

Tabla de Direcciones. Como cada cancha solo puede estar en una dirección, y cada nombre de la cancha es único,
me ahorro una tabla poniendo en la tabla de Direcciones el nombre de la Cancha como ForignKey. La ciudad no 
la pongo como FOREIGN KEY porque puede ser que un equipo que sea de una ciudad, entrene en una cancha que esté
en otra ciudad (el enunciado no lo especifica, así lo entiendo yo)

In [32]:
%%sql
DROP TABLE Direcciones;

Done.

[]

In [33]:
%%sql
CREATE TABLE Direcciones(
nombre VARCHAR(100),
calle VARCHAR(50),
numero INT,
ciudad VARCHAR(50),
ccaa VARCHAR(50),
PRIMARY KEY(nombre),
FOREIGN KEY(nombre) REFERENCES Canchas(nombre),
FOREIGN KEY(ccaa) REFERENCES CCAA(nombre)
);

Done.

[]

In [34]:
%%sql

INSERT INTO Direcciones(nombre,calle,numero,ciudad,ccaa)
Values('Caja Mágica', 'Perales', '7', 'Madrid', 'C.A Madrid');

INSERT INTO Direcciones(nombre,calle,numero,ciudad,ccaa)
Values('Palacio de Vistalegre', 'Goya', '4', 'Madrid', 'C.A Madrid');

INSERT INTO Direcciones(nombre,calle,numero,ciudad,ccaa)
Values('Palau Blaugrana', 'Canaletas', '8', 'Barcelona', 'Barcelona');

INSERT INTO Direcciones(nombre,calle,numero,ciudad,ccaa)
Values('Pabellón Olímpico de Badalona', 'Barceloneta', '1', 'Badalona', 'Barcelona');

INSERT INTO Direcciones(nombre,calle,numero,ciudad,ccaa)
Values('La Fonteta', 'Garay', '11', 'Elche', 'C.A Valenciana');

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Tabla de los periodos de tiempo que un entrenador entrena a un equipo.

In [25]:
%%sql
CREATE TABLE Periodos_Entreno(
f_ini DATETIME,
f_fin DATETIME,
PRIMARY KEY(f_ini,f_fin)
);

Done.

[]

In [26]:
%%sql
INSERT INTO Periodos_Entreno(f_ini,f_fin)
Values('2015-09-15','2016-04-16');

INSERT INTO Periodos_Entreno(f_ini,f_fin)
Values('2015-09-15','2015-12-25');

1 rows affected.
1 rows affected.

[]

Tabla de relaciones entre equipos, entrenadores y cancha (en una temporada y periodo)

In [83]:
%%sql
DROP TABLE Entrenamientos;

Done.

[]

In [84]:
%%sql
CREATE TABLE Entrenamientos(
eid INT,
entrenador_nif VARCHAR(20),
cancha VARCHAR(20),
temporada_id INT,
f_ini DATETIME,
f_fin DATETIME,
PRIMARY KEY(entrenador_nif,temporada_id),
FOREIGN KEY(eid) REFERENCES Equipos(eid),
FOREIGN KEY(entrenador_nif) REFERENCES Entrenadores(nif),
FOREIGN KEY(cancha) REFERENCES Canchas(nombre),
FOREIGN KEY(temporada_id) REFERENCES Temporadas(cid),
FOREIGN KEY(f_ini,f_fin) REFERENCES Periodos_Entreno(f_ini,f_fin)
);

Done.

[]

He elegido esa clave primaria porque un entrenador solo puede entrenar una vez por temporada (a un equipo).

In [85]:
%%sql
INSERT INTO Entrenamientos(eid,entrenador_nif,cancha,temporada_id,f_ini,f_fin)
Values(1, '1111E', 'Caja Mágica', 1, '2015-09-15','2016-04-16');

1 rows affected.

[]

In [86]:
%%sql
INSERT INTO Entrenamientos(eid,entrenador_nif,cancha,temporada_id,f_ini,f_fin)
Values(2, '2222E', 'La Fonteta', 1, '2015-09-15','2016-04-16');

1 rows affected.

[]

In [89]:
%%sql
INSERT INTO Entrenamientos(eid,entrenador_nif,cancha,temporada_id,f_ini,f_fin)
Values(3, '3333E', 'Caja Mágica', 1, '2015-09-15','2016-04-16');

1 rows affected.

[]

In [112]:
%%sql
INSERT INTO Entrenamientos(eid,entrenador_nif,cancha,temporada_id,f_ini,f_fin)
Values(2, '3333E', 'Caja Mágica', 2, '2015-09-15','2016-04-16');

1 rows affected.

[]

In [113]:
%%sql
SELECT * FROM Entrenamientos;

Done.

[(1, '1111E', 'Caja Mágica', 1, '2015-09-15', '2016-04-16'),
 (2, '2222E', 'La Fonteta', 1, '2015-09-15', '2016-04-16'),
 (3, '3333E', 'Caja Mágica', 1, '2015-09-15', '2016-04-16'),
 (2, '3333E', 'Caja Mágica', 2, '2015-09-15', '2016-04-16')]

Tabla de los jugadores que pertenecen a los equipos.

In [98]:
%%sql
DROP TABLE Jugador_equipo;

Done.

[]

In [99]:
%%sql
CREATE TABLE Jugador_Equipo(
eid INT,
nif VARCHAR(20),
tid INT,
PRIMARY KEY(nif,tid),
FOREIGN KEY(eid) REFERENCES Equipos(eid),
FOREIGN KEY(nif) REFERENCES Jugadores(nif),
FOREIGN KEY(tid) REFERENCES Temporadas(cid)
);

Done.

[]

In [100]:
%%sql
INSERT INTO Jugador_Equipo(eid,nif,tid)
Values(3, '1111J', 1);

INSERT INTO Jugador_Equipo(eid,nif,tid)
Values(3, '2222J', 1);

INSERT INTO Jugador_Equipo(eid,nif,tid)
Values(3, '3333J', 1);

INSERT INTO Jugador_Equipo(eid,nif,tid)
Values(3, '4444J', 1);

INSERT INTO Jugador_Equipo(eid,nif,tid)
Values(3, '5555J', 1);

INSERT INTO Jugador_Equipo(eid,nif,tid)
Values(1, '6666J', 1);

INSERT INTO Jugador_Equipo(eid,nif,tid)
Values(1, '7777J', 1);

INSERT INTO Jugador_Equipo(eid,nif,tid)
Values(1, '8888J', 1);

INSERT INTO Jugador_Equipo(eid,nif,tid)
Values(1, '9999J', 1);

INSERT INTO Jugador_Equipo(eid,nif,tid)
Values(1, '0000J', 1);

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [108]:
%%sql
SELECT
Jugador_Equipo.nif AS 'DNI',
Personas.nombre AS 'Nombre',
Equipos.nombre AS 'Equipo'
FROM Jugador_Equipo
LEFT JOIN Equipos
ON Jugador_Equipo.eid = Equipos.eid
JOIN Personas
ON Jugador_Equipo.nif = Personas.nif
Order by Equipos.nombre

Done.

[('1111J', 'fran', 'F.C Barcelona'),
 ('2222J', 'juan carlos', 'F.C Barcelona'),
 ('3333J', 'roberto', 'F.C Barcelona'),
 ('4444J', 'victor', 'F.C Barcelona'),
 ('5555J', 'alex', 'F.C Barcelona'),
 ('6666J', 'sergio', 'Real Madrid'),
 ('7777J', 'rudy', 'Real Madrid'),
 ('8888J', 'louis', 'Real Madrid'),
 ('9999J', 'felipe', 'Real Madrid'),
 ('0000J', 'gustavo', 'Real Madrid')]

Tabla que contiene cada Partido. En esta tabla meto directamente los equipos que lo juegasn y la cancha como FOREIGN KEY. Como he puesto un id a cada

In [75]:
%%sql
DROP TABLE Partidos;

IntegrityError: (sqlite3.IntegrityError) FOREIGN KEY constraint failed [SQL: 'DROP TABLE Partidos;']

In [141]:
%%sql
CREATE TABLE Partidos(
pid INT,
eid1 INT,
result_eq1 INT,
eid2 INT,
result_eq2 INT,
cancha VARCHAR(20),
f_ini DATETIME,
f_fin DATETIME,
PRIMARY KEY(pid)
FOREIGN KEY(eid1) REFERENCES Equipos(eid),
FOREIGN KEY(eid2) REFERENCES Equipos(eid),
FOREIGN KEY(cancha) REFERENCES Canchas(nombre)
);

Done.

[]

In [74]:
%%sql
INSERT INTO Partidos(pid, eid1, result_eq1, eid2, result_eq2, cancha, f_ini,f_fin)
Values(1, 1, 90, 3, 85, 'Caja Mágica', '20:00:00', '21:45:00');

INSERT INTO Partidos(pid, eid1, result_eq1, eid2, result_eq2, cancha, f_ini,f_fin)
Values(2, 2, 94, 4, 102, "Pabellón Olímpico de Badalona", '20:00:00', '21:45:00');

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: Partidos.pid [SQL: "INSERT INTO Partidos(pid, eid1, result_eq1, eid2, result_eq2, cancha, f_ini,f_fin)\nValues(1, 1, 90, 3, 85, 'Caja Mágica', '20:00:00', '21:45:00');"]

In [77]:
%%sql
INSERT INTO Partidos(pid, eid1, result_eq1, eid2, result_eq2, cancha, f_ini,f_fin)
Values(3, 4, 97, 1, 110, "Palacio de Vistalegre", '20:00:00', '21:45:00');

1 rows affected.

[]

In [108]:
%%sql
INSERT INTO Partidos(pid, eid1, result_eq1, eid2, result_eq2, cancha, f_ini,f_fin)
Values(4, 1, 90, 2, 87, 'Caja Mágica', '20:00:00', '21:45:00');

1 rows affected.

[]

In [149]:
%%sql
SELECT * FROM Partidos;

Done.

[(1, 1, 90, 3, 85, 'Caja Mágica', '20:00:00', '21:45:00'),
 (2, 2, 94, 4, 102, 'Pabellón Olímpico de Badalona', '20:00:00', '21:45:00')]

Una entidad para cada cuarto

In [139]:
%%sql
DROP TABLE Cuarto4;

Done.

[]

In [144]:
%%sql
CREATE TABLE Cuarto1(
cid INT,
result_eq1 INT,
result_eq2 INT,
f_ini DATETIME,
f_fin DATETIME,
PRIMARY KEY(cid),
FOREIGN KEY(cid) REFERENCES Partidos(pid)
);

Done.

[]

In [145]:
%%sql
INSERT INTO Cuarto1(cid,result_eq1,result_eq2,f_ini,f_fin)
Values(1, 20, 22, '20:00:00', '20:15:00');

INSERT INTO Cuarto1(cid,result_eq1,result_eq2,f_ini,f_fin)
Values(2, 24, 30, '20:00:00', '20:15:00');

1 rows affected.
1 rows affected.

[]

In [146]:
%%sql
CREATE TABLE Cuarto2(
cid INT,
result_eq1 INT,
result_eq2 INT,
f_ini DATETIME,
f_fin DATETIME,
PRIMARY KEY(cid),
FOREIGN KEY(cid) REFERENCES Partidos(pid)
);

Done.

[]

In [147]:
%%sql
CREATE TABLE Cuarto3(
cid INT,
result_eq1 INT,
result_eq2 INT,
f_ini DATETIME,
f_fin DATETIME,
PRIMARY KEY(cid),
FOREIGN KEY(cid) REFERENCES Partidos(pid)
);

Done.

[]

In [148]:
%%sql
CREATE TABLE Cuarto4(
cid INT,
result_eq1 INT,
result_eq2 INT,
f_ini DATETIME,
f_fin DATETIME,
PRIMARY KEY(cid),
FOREIGN KEY(cid) REFERENCES Partidos(pid)
);

Done.

[]

Tabla para el tiempo de los jugadores y sus posiciones durante un partido. Primero creamos la tabla para los periodos de cada jugador. La clave primaria será el conjunto de los tres tiempos(cuando sale a la cancha, cuando se va al banquillo, y cuando vuelve a salir; así tenemos facilmente el tiemop de banquillo).

In [150]:
%%sql
CREATE TABLE Periodos_Jug(
hora_sal DATETIME,
hora_ent DATETIME,
hora_banq DATETIME,
PRIMARY KEY(hora_sal, hora_ent, hora_banq)
);

Done.

[]

In [21]:
%%sql
INSERT INTO Periodos_jug(hora_sal,hora_ent,hora_banq)
Values('20:00:00', '20:08:00', '20:10:00');

1 rows affected.

[]

In [35]:
%%sql
DROP TABLE Partidos_jug;

Done.

[]

In [36]:
%%sql
CREATE TABLE Partidos_Jug(
pid INT,
nif VARCHAR(20),
posicion VARCHAR(20),
hora_sal DATETIME,
hora_ent DATETIME,
hora_banq DATETIME,
PRIMARY KEY(pid, nif, posicion, hora_sal, hora_ent, hora_banq),
FOREIGN KEY(nif) REFERENCES Jugadores(nif),
FOREIGN KEY(hora_sal, hora_ent, hora_banq) REFERENCES Periodos_jug(hora_sal, hora_ent, hora_banq)
)

Done.

[]

In [38]:
%%sql
INSERT INTO Partidos_Jug(pid,nif,posicion,hora_sal,hora_ent,hora_banq)
Values(1, '1111J', 'Pivot', '20:00:00', '20:08:00', '20:10:00');

INSERT INTO Partidos_Jug(pid,nif,posicion,hora_sal,hora_ent,hora_banq)
Values(1, '2222J', 'Base', '20:00:00', '20:08:00', '20:10:00');

1 rows affected.
1 rows affected.

[]

Para registrar el peso de los jugadores en cada partido, hay que hacer otra tabla

In [152]:
%%sql
CREATE TABLE Peso(
nif VARCHAR(20),
pid INT,
peso FLOAT,
PRIMARY KEY(nif,pid),
FOREIGN KEY(nif) REFERENCES Jugadores(nif),
FOREIGN KEY(pid) REFERENCES Partidos(pid)
);

Done.

[]

In [7]:
%%sql
INSERT INTO PESO(nif,pid,peso)
Values('1111J',1,90);

INSERT INTO PESO(nif,pid,peso)
Values('2222J',1,100);

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: Peso.nif, Peso.pid [SQL: "INSERT INTO Peso(nif,pid,peso)\nValues('1111J',1,90);"]

Por ultimo, creamos la entidad de Jugadas. Le doy un id también para tener PRIMARY KEY.

In [ ]:
CREATE TABLE Jugadas(
jid INT,
hora_ini DATETIME,
hora_fin DATETIME,
PRIMARY KEY(jid)
);

Relacionamos las jugadas que hay en un partido en otra tabla

In [154]:
%%sql
CREATE TABLE Jugadas_Part(
pid INT,
jid INT,
PRIMARY KEY(pid,jid),
FOREIGN KEY(pid) REFERENCES Partidos(pid),
FOREIGN KEY(jid) REFERENCES Jugadas(jid)
);

Done.

[]

Hacemos otra tabla para registrar los records de los jugadores en un partido en una jugada

In [ ]:
CREATE TABLE Records(
nif VARCHAR(20),
pid INT,
jid INT,
PRIMARY KEY(nif,pid,jid),
FOREIGN KEY(nif) REFERENCES Jugadores(nif),
FOREIGN KEY(pid) REFERENCES Partidos(pid),
FOREIGN KEY(jid) REFERENCES Jugadas(jid)
);

Tenemos dos tipos de jugadas: cambios de posesion y defensas. Hacemos una relación IS-A. Primero para las jugadas de defensa.

In [157]:
%%sql
DROP TABLE Defensas;

Done.

[]

In [158]:
%%sql
CREATE TABLE Defensas(
jid INT,
nif_defendido VARCHAR(20),
nif_defendiendo VARCHAR(20),
PRIMARY KEY(jid),
FOREIGN KEY(jid) REFERENCES Jugadas(jid),
FOREIGN KEY(nif_defendido) REFERENCES Jugadores(nif),
FOREIGN KEY(nif_defendiendo) REFERENCES Jugadores(nif)
);

Done.

[]

Las jugadas de cambio de posesion se dividen en varias. Hacemos tambien otra relacion IS-A

In [159]:
%%sql
CREATE TABLE Posesion(
jid INT,
nif_ini VARCHAR(20),
posicion FLOAT,
PRIMARY KEY(jid),
FOREIGN KEY(jid) REFERENCES Jugadas(jid),
FOREIGN KEY(nif_ini) REFERENCES Jugadores(nif)
);

Done.

[]

En estos casos, utilizo INT como un boolean (0 false, 1 true).

In [ ]:
%%sql
CREATE TABLE Tiro(
jid INT,
pto INT,
fuera INT,
rebote INT,
PRIMARY KEY(jid),
FOREIGN KEY(jid) REFERENCES Jugadas(jid)
);

In [ ]:
%%sql
CREATE TABLE Pase(
jid INT,
fuera INT,
nif_comp VARCHAR(20),
nif_rival VARCHAR(20),
PRIMARY KEY(jid),
FOREIGN KEY(jid) REFERENCES Jugadas(jid)
);

In [ ]:
%%sql
CREATE TABLE Robo(
jid INT,
nif_aquien VARCHAR(20),
PRIMARY KEY(jid),
FOREIGN KEY(jid) REFERENCES Jugadas(jid)
);

En estos dos ultimos casos, el nif de quien coge el rebote o intercepta, son el mismo que en Posesion

In [ ]:
%%sql
CREATE TABLE Rebote(
jid INT,
PRIMARY KEY(jid),
FOREIGN KEY(jid) REFERENCES Jugadas(jid)
);

In [ ]:
%%sql
CREATE TABLE Intercepcion(
jid INT,
PRIMARY KEY(jid),
FOREIGN KEY(jid) REFERENCES Jugadas(jid)
);

Parte 3

1.Los jugadores que han jugado un partido dado y pesan más de X kilos. (Por ejemplo mayor que 90)

In [19]:
%%sql
SELECT *
FROM Peso
LEFT JOIN Personas
ON Personas.nif = Peso.nif
Where Peso.peso > 90;

Done.

[('2222J', 1, 100.0, '2222J', 'juan carlos', 'navarro', '1978-02-04')]

2.Los jugadores que han jugado en la posición de Pivot en un partido (Por ejemplo para el partido 1).

In [41]:
%%sql
SELECT *
FROM Partidos_jug AS P
where P.pid=1 AND P.posicion = 'Pivot';

Done.

[(1, '1111J', 'Pivot', '20:00:00', '20:08:00', '20:10:00')]

4.Canchas en las que ha jugado un jugador a lo largo de una temporada (Por ejemplo para el jugador 6666J, durante la temporada 1)

In [87]:
%%sql
CREATE VIEW Jugadores_Canchas AS
SELECT 
J.nif AS 'DNI',
J.tid AS 'Temporada',
P.cancha AS 'Cancha'

FROM Jugador_equipo AS J
JOIN Partidos AS P
ON P.eid1 = J.eid
WHERE J.nif = '6666J'

UNION ALL

SELECT 
J.nif AS 'DNI',
J.tid AS 'Temporada',
P.cancha AS 'Cancha'

FROM Jugador_equipo AS J
JOIN Partidos AS P
ON P.eid2 = J.eid
WHERE J.nif = '6666J'

Done.

[]

In [90]:
%%sql
SELECT *
FROM Jugadores_Canchas
LEFT JOIN Personas
ON Jugadores_Canchas.DNI = Personas.nif;

Done.

[('6666J', 1, 'Caja Mágica', '6666J', 'sergio', 'llull', '1984-07-01'),
 ('6666J', 1, 'Palacio de Vistalegre', '6666J', 'sergio', 'llull', '1984-07-01')]

5.Los 3 primeros partidos de una temporada por n´umero de puntos (suma de puntos de ambos equipos al terminar
el partido).

In [98]:
%%sql
SELECT 
pid AS 'Partido_ID',

result_eq1 + result_eq2 AS TOTAL
FROM Partidos
Order by TOTAL DESC LIMIT 3;

Done.

[(3, 207), (2, 196), (1, 175)]

En este, me falta incuir en la tabla de partidos a que temporada pertenece y poner WHERE tid = 1 
para la temporada 1 por ejemplo

11.Número de puntos conseguido por un equipo en un partido (Por ejemplo para el equipo 1 en el partido 1)

In [104]:
%%sql
SELECT 
Partidos.pid AS 'Partido_ID',
Equipos.nombre AS TEAM,
Partidos.result_eq1 AS 'Puntos'
FROM Partidos
JOIN Equipos
ON Partidos.eid1 = Equipos.eid
Where TEAM = 'Real Madrid';

Done.

[(1, 'Real Madrid', 90)]

12.Número de puntos conseguido por un equipo en un tiempo de un partido. (por ejemplo en el primer cuarto, del mismo partido de antes)

In [106]:
%%sql
SELECT 
Partidos.pid AS 'Partido_ID',
Equipos.nombre AS TEAM,
Cuarto1.result_eq1 AS 'Puntos'
FROM Partidos
JOIN Equipos
ON Partidos.eid1 = Equipos.eid
LEFT JOIN Cuarto1
ON Cuarto1.cid = Partidos.eid1
Where TEAM = 'Real Madrid';

Done.

[(1, 'Real Madrid', 20)]

13.Número de partidos jugados en una cancha.(Por ejemplo en la Caja Magica)

In [120]:
%%sql
SELECT 
cancha AS 'Cancha',
COUNT(cancha) AS 'Número de partidos'
FROM Partidos
WHERE cancha = 'Caja Mágica';

Done.

[('Caja Mágica', 2)]

15.Historial de los equipos entrenados por un entrenador. (Por ejemplo con el entreandor 3333E).

In [119]:
%%sql
SELECT 
P.nombre || ' ' || P.apellidos AS 'Entrenador',
E.eid AS 'Equipo',
E.temporada_id AS 'Temporada'
FROM Entrenamientos AS E
LEFT JOIN Personas AS P
ON P.nif = E.entrenador_nif
WHERE P.nif = '3333E';

Done.

[('fer rioja', 3, 1), ('fer rioja', 2, 2)]